<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/Inicio.css">
    <title>Inicio de sesión</title>
</head>

<body>
    <div id="contenedor">
        <div id="panel">
            <div class="Titulo">
                <span>Inicio 
                    de sesión</span>
            </div>
            <div id="Usuario">
                <span>Usuario</span>
                <div class="txtContenedor">
                    <input type="text" class="txtUsuario">
                </div>
            </div>
            <div id="Contraseña">
                <span>Contraseña</span>
                <div class="txtContenedor">
                    <input type="password" class="txtContraseña">
                </div>
            </div>
            <button id="Entrar" onclick="validar()">Entrar</button>
            <div id="Links">
                <a href="http://localhost:3000/de_malas">¿Has olvidado tu contraseña?</a>
                ¿Aún no tienes una cuenta?
                <a href="http://localhost:3000/registro">Regístrate</a>
            </div>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
function validar() {
    //Tenemos que validar antes de ponerlo en el chat
    window.location = 'http://localhost:3000/chatroom';
}
</script>

</html>