<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--link rel="stylesheet" href="css/Inicio.css"-->
    <title>Inicio de sesión</title>
</head>

<body>
    <div id="contenedor">
        <div id="panel">
            <div class="Titulo">
                <span>Inicio de sesión</span>
            </div>
            <div class="Usuario">
                <span>Usuario</span>
            </div>
            <div class="txtContenedor">
                <input type="text" class="txtUsuario">
            </div>
            <div class="Contraseña">
                <span>Contraseña</span>
            </div>
            <div class="txtContenedor">
                <input type="text" class="txtContraseña">
            </div>
            <div id="HV">
                <a href="http://">¿Has olvidado tu contraseña?</a>
            </div>
            <div id="Registro">
                    <a href="http://">¿Aún no tienes una cuenta? Regístrate</a>
                </div>
        </div>
    </div>
</body>

</html>