* {
    box-sizing: border-box;
    font-family: Leelawadee UI;
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}

#contenedor{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: auto;
    width: 100%;
    height: 100%;
    background-color: #820263;
}

.chatList{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    width: 100%;
    height: 100%;
    padding: 70px 0px 60px 10px;
}

#barraUsuario {
    display: grid;
    grid-template-columns: 70px auto 70px;
    grid-template-rows: auto;
    grid-template-areas: "imagen nombre boton";
    align-items: center;
    background-color: #148787;
}

#imagenUsuario {
    display: grid;
    justify-self: center;
    width: 50px;
    height: 50px;
    border: 4px solid #F3DFC1;
    border-radius: 10px;
}

#nombreUsuario {
    display: grid;
    font-size: 18px;
    font-weight: 800;
    color: #F3DFC1;
    padding: 10px;
    justify-self: start;
}

#Chats {
    background-color: #F3DFC1;
}

input {
    border: 0;
    width: 95%;
    height: 70%;
    background-color: #F3DFC1;
    color: black;
}

.chatConversation {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
    background-color: #A53A8A;
}

#Sujeto {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    grid-template-columns: auto;
    grid-template-rows: 70% 30%;
    color: #F3DFC1;
}

#nombre {
    font-size: 30px;
    font-weight: 800px;
}

#modalidad {
    font-size: 12px;
    font-weight: 100px;
}

#contenedorChat {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 50px;
}

#barraTexto {
    display: grid;
    grid-template-columns: auto 110px;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

#Texto {
    background-color: #F3DFC1;
}

button {
    display: grid;
    cursor: pointer;
    background-color: #F3DFC1;
    height: 30px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    color: #820263;
    font-size: 15px;
    font-weight: 600;
}

button:hover{
    background-color: #148787;
    color: #F3DFC1;
}

#Agregar {
    display: grid;
    justify-self: center;
    cursor: pointer;
    font-size: 40px;
    color: #F3DFC1;
}
